*{
  margin: 0;
  padding: 0;
}
.nav{
  background-color: #032541;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: sticky;
  top: 0;
  /* height: 80px; */
  border-bottom: 2px solid #BB86FC;
}
.mobnav{
  display: none;
}
.nav svg{
  width: 22px;
  color: white;
  height: 22px;
}
.nav .name{
  color: white;
  display: flex;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a{
  color: white;
  text-decoration: none;
}
.nav input{
  background-color: #303748;
  border: none;
  padding: 6px;
  color: white;
  /* border-radius: 15px; */
}
.nav div .searchbtn{
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #9681e7 0%, #5aaee6 74%);
  border: none;
  padding: 6px;
  /* border-radius: 15px; */

}
.main{
  background-color: #729FB0;
}

  .titlemain{
    padding-top: 2vw;
    margin-bottom: 2vw;
    text-align: center;
    font-size: 34px;
    margin-left: -5%;
    color: white;
    
  }
  
  .main{
    background: #072835;
    height: 100%;
  }
 .categories{
  margin: 0px 10% 0px 10%;
  align-items: center; /* left and  */
  justify-content: center;
  /* justify-content: space-between; */
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding-bottom: 40px;
  padding-top: 40px;
  flex-wrap: wrap;
  height: 100%;
}
 .categories .card1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  /* margin-top: 10px; */
  margin-bottom: 20px;
  border-radius: 2px;
  overflow: hidden;
  background-color: white;
  width: 310px;
  height: 100%;
}

 .categories .card1 img{
  width: 100%;
  height: 340px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}
 .categories .card1 h1{
  margin-top: 20px;
  text-align: center;
  font-size: 22px;

}
 .categories .card1 p{
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 32px;
  text-align: center;
}
.footer{
  background-color: #032541;
  height: 80px;
  border-top: 2px solid #BB86FC;
  padding: 30px;
  text-align: center;
  color: white;
}
@media(max-width:768px){
  .mobnav svg{
    width: 22px;
    color: white;
    height: 22px;
  }

  .mobnav .name{
    color: white;
    text-decoration: none;
    font-size: 20px;
    /* align-items: center; */
    display: flex;
    margin-bottom: 15px;
    /* position: absolute; */
    padding: 0px 20% 0px 25%;
  }
  
  .nav-links a{
    color: white;
    text-decoration: none;
  }
  .categories{
    margin: 0px 10% 0px 10%;

  }

  .titlemain{

    display: none;
  }
  .mobnav{
    display:  inline-block;
    width: 100%;
    background-color: #032541;
    align-items: center;
    justify-items: center;
    padding: 5% 20% 0px 20%;
    height: 120px;
    border-bottom: 2px solid #BB86FC;
    position: sticky;
    top: 0;
  }
  .nav{
    background-color: #032541;
    display: none;
   
  }


  .mobnav input{
    /* background-color: #303748; */
    border: none;
    width: 220px;
    /* position: relative; */
    /* top: 80px; */
    background-image: linear-gradient(315deg, #8171c4 0%, #4381aa 74%);

    padding: 6px;
    /* text: black; */
    /* left: 65px; */
    color: whitesmoke;
    opacity: 1;
    /* border-radius: 15px; */
  }
  .mobnav input::placeholder{
    color: whitesmoke;
  }
  .mobnav div .searchbtn{
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #9681e7 0%, #5aaee6 74%);
    border: none;
    display: none;
    /* margin-top: 2px; */
    align-items: center;
    padding: 6px;
    /* position: absolute; */
    /* top: 80px; */
    /* left: 260px; */
    /* border-radius: 15px; */
  }
  .categories{
    /* margin: 0px 10% 0px 10%; */
    align-items: center; 
    justify-content: center;
    justify-items: center;
    /* justify-items: center; */
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0rem;
    /* margin-left: 9%; */
    /* row-gap: 80px; */
    /* margin-top: 30px; */
    /* flex-wrap: wrap; */
    /* height: 100%; */
  }
  .categories .card1{
    /* margin-bottom: 20px; */
    border-radius: 20px;
    border: 15px solid #072835;
  }
}

@media(min-width:769px) and (max-width:1024px){
  .nav svg{
    width: 22px;
    color: white;
    height: 22px;
  }
  .nav .name{
    color: white;
    text-decoration: none;
    font-size: 20px;
    /* position: absolute; */
    top: 25px;
    left: 130px;
  }
  
  .nav-links a{
    color: white;
    text-decoration: none;
  }

  .nav{
    background-color: #032541;
    padding: 20px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 30px 10%;
    border-bottom: 2px solid #BB86FC;
  }

  .nav input{
    background-color: #303748;
    border: none;
    /* position: absolute; */
    top: 80px;
    padding: 6px;
    left: 65px;
    color: white;
    /* border-radius: 15px; */
  }
  .nav div .searchbtn{
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #9681e7 0%, #5aaee6 74%);
    border: none;
    padding: 6px;
    /* position: absolute; */
    /* top: 80px; */
    /* left: 260px; */
    /* border-radius: 15px; */
  }
  .categories{
    /* margin: 0px 115px 0px 40px; */
    align-items: center;  
    justify-content: center;
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    
    /* row-gap: 80px; */
    /* margin-top: 30px; */
    /* flex-wrap: wrap; */
    height: 100%;
  }



}