.nav{
  background-color: #032541;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border-bottom: 2px solid #BB86FC;
}
.nav svg{
  width: 22px;
  color: white;
  height: 22px;
}
.nav .name{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a{
  color: white;
  text-decoration: none;
}
.nav input{
  background-color: #303748;
  border: none;
  padding: 6px;
  color: white;
  /* border-radius: 15px; */
}
.nav div .searchbtn{
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #9681e7 0%, #5aaee6 74%);
  border: none;
  padding: 6px;
  /* border-radius: 15px; */

}
.main{
  background-color: #729FB0;
}

  .titlemain{
    padding-top: 2vw;
    margin-bottom: 2vw;
    text-align: center;
    font-size: 34px;
    color: white;
    
  }
  
  /* .main{
    background: #121924;
  } */
 .categories{
  margin: 0px 115px 0px 110px;
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  
  /* row-gap: 80px; */
  /* margin-top: 30px; */
  /* flex-wrap: wrap; */
  height: 100%;
}
 .categories .card1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 25px;
  overflow: hidden;
  background-color: white;
  width: 320px;
  height: 420px;
}
 .categories .card1 img{
  width: 100%;
  height: 340px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}
 .categories .card1 h1{
  margin-top: 20px;
  text-align: center;
  font-size: 22px;

}
 .categories .card1 p{
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 32px;
  text-align: center;
}
.footer{
  background-color: #032541;
  height: 80px;
  padding: 30px;
  text-align: center;
  color: white;
}